.vscode/
.wget-hsts
.xsession-errors
.xsession-errors.old
.zcompdump-archlinux-5.9
.zcompdump-archlinux-5.9.zwc
.zshenv
.zsh_history
.viminfo
Downloads/
Music/
Pictures/
.icons/
.local/
.mozilla/
.npm/
.cache/
.cargo/
.bash_pofile
.bash_logout
.bash_history
.bash_profile
.Xauthority
.ICEauthority
.dmrc
.gitconfig
.gnupg/
.gtkrc-2.0
.hyprland_rice/
.pki/
.profil.dmrc
.gitconfig
.gnupg/
.gtkrc-2.0
.hyprland_rice/
.pki/
.profile
.spicetify/
.ssh/
.themes/
.shell.pre-oh-my-zsh
.rustup/
.config/Code/
.config/dconf
.config/gtk-3.0
.config/spicetify/
.config/spotify
.config/systemd/
.config/ncmpcpp/
.config/pulse
.emacs.d/elpa/
.config/BraveSoftware/
.config/mimeapps.list
.config/xfce4/
